In [15]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import urllib.request,urllib.parse
import os
import time

In [49]:
d = json.load(open('./test_data.json', encoding = 'utf-8'))

In [50]:
len(d)

271

In [51]:
d.keys()

dict_keys(['3544', '48117', '49405', '51584', '60581', '60587', '60604', '60606', '60616', '60619', '60631', '60634', '60635', '60639', '60654', '60665', '60671', '60676', '60686', '60707', '60708', '60715', '60737', '60752', '60760', '60762', '60763', '60769', '60772', '60773', '60775', '60782', '60785', '60788', '60799', '60812', '60829', '60832', '60833', '60870', '60885', '60895', '60896', '60899', '61019', '61053', '61094', '61406', '60615', '47329', '60598', '58834', '59018', '60586', '60589', '60602', '60603', '60613', '60620', '60621', '60627', '60632', '60636', '60642', '60651', '60652', '60658', '60659', '60677', '60683', '60688', '60690', '60694', '60695', '60703', '60706', '60714', '60716', '60720', '60722', '60724', '60725', '60730', '60733', '60738', '60742', '60753', '60756', '60759', '60764', '60768', '60771', '60787', '60790', '60827', '60828', '60900', '60901', '61097', '61106', '61132', '61135', '61519', '40552', '61035', '61074', '60583', '39201', '48102', '58758', '59308', '60585', '60590', '60595', '60599', '60617', '60624', '60630', '60638', '60641', '60647', '60653', '60657', '60661', '60666', '60668', '60669', '60675', '60692', '60696', '60698', '60710', '60749', '60750', '60751', '60755', '60757', '60766', '60767', '60776', '60777', '60792', '60795', '60835', '60837', '60846', '60876', '60889', '60898', '61041', '61659', '60645', '60679', '60700', '34511', '60711', '60866', '61212', '2843', '60578', '49823', '60580', '60591', '60592', '60601', '60605', '60610', '60614', '60618', '60622', '60623', '60625', '60644', '60648', '60649', '60667', '60670', '60673', '60678', '60691', '60697', '60699', '60712', '60721', '60723', '60731', '60747', '60765', '60778', '60781', '60791', '60793', '60794', '60796', '60797', '60810', '60836', '60839', '60891', '61046', '61048', '61715', '60628', '60713', '8160', '8246', '8317', '8318', '16304', '39021', '39160', '39190', '39200', '40186', '47774', '47920', '47937', '47961', '48025', '48083', '48721', '49361', '49687', '50263', '52592', '58547', '58575', '58585', '58586', '58610', '58616', '58634', '58778', '58822', '58865', '59137', '59140', '60593', '60594', '60608', '60611', '60637', '60640', '60643', '60660', '60662', '60672', '60693', '60705', '60717', '60719', '60727', '60734', '60739', '60746', '60758', '60761', '60770', '60774', '60825', '61020', '47996', '60689', '61143', '48090', '58744', '60584', '60728', '49315', '47879', '60822'])

In [25]:
time_local = time.localtime(1582023291)
dt = time.strftime("%Y-%m-%d %H:%M:%S",time_local)
print(dt)

2020-02-18 18:54:51

In [52]:
d['3544']['cases'][0].keys()

dict_keys(['case_id', 'case_type', 'case_zip', 'final_score', 'upload_records'])

In [53]:
cases_keys = ['case_id', 'case_type', 'final_score']

In [89]:
cases = pd.DataFrame(d['47937']['cases'], columns=cases_keys)

In [92]:
cases.sort_values(by='final_score', ascending=False).drop_duplicates(['case_id'])

    case_id case_type  final_score
0      2891        数组          100
137    2626      数字操作          100
127    2621      数字操作          100
128    2588      数字操作          100
129    2620      数字操作          100
..      ...       ...          ...
69     2775       线性表          100
70     2774       线性表          100
71     2476       线性表          100
72     2674       线性表          100
199    2538      排序算法          100

[200 rows x 3 columns]

In [74]:
cases

  case_id case_type  final_score
0    2908       字符串           40
1    2172       线性表          100
2    2179        数组          100
3    2176        数组           50
4    2307        数组           25
5    2804        数组            0
6    2908       字符串            0
7    2456        数组          100
8    2450      查找算法           20